* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  --padding: 80px;
}
.container,
main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.social-links {
  display: flex;
  gap: 30px;
}
.social-links svg {
  width: 30px;
}

.aboutme-section {
  display: flex;
  align-items: center;
  padding: var(--padding);
  padding-bottom: 0;
}
.aboutme-section .background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: blue;
  transform: rotateZ(-10deg) scaleX(2) translateY(-15rem);
  z-index: -1;
}
.aboutme-section > img {
  width: 40%;
  height: fit-content;
}
.aboutme-section .info-window {
  width: 60%;
  min-height: max-content;
  padding: 20px;
  font-size: 18px;
  line-height: 30px;
  background-color: rgb(118, 228, 155);
}
.aboutme-section #aboutme-title {
  margin: 10px 0 25px;
}
.aboutme-section .social-links {
  margin-top: 40px;
  justify-content: flex-end;
}

.mywork-section {
  padding: 0 var(--padding) 0 var(--padding);
}
.mywork-section > h3 {
  margin-bottom: 40px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.cards-container .card {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.445);
}
.card h5 {
  font-size: 15px;
}
.card > img {
  width: 100%;
  object-fit: cover;
  flex: 2;
}
.card > div {
  padding: 20px;
  flex: 1;
}
.card .card-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.card-heading {
  gap: 20px;
}
.card-heading .social-links {
  gap: 20px;
}
.card-heading .icon svg {
  width: 23px;
} 

footer {
  display: flex;
  padding: var(--padding);
  background-color: rgb(41, 155, 255);
  color: white;
  font-size: 20px;
  flex: 1;
}
footer > * {
  flex: 1;
}
footer .left-part {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .title {
  margin-bottom: 20px;
}
footer .picture {
  width: 450px;
  height: 450px;
  object-fit: cover;
  margin-left: 50px;
}
